{%block content%}
{% load get_profile_extra %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - {{user.first_name | upper}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/creativetemplate/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/creativetemplate/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/creativetemplate/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/creativetemplate/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{user.first_name | title}} {{user.last_name | title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">{{portfolio.title}}</h1>
                <hr>
                <p>{{user.first_name | title}} {{user.last_name | title}}</p>
                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </header>

    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row  popup-gallery">

                {% for protprj in portfolioprojects %}


                    <div class="col-lg-4 col-sm-4">
                        {% getprojectimagebyprojectid protprj.project.id as prjimgpath %}



                        <a href="/media/{{prjimgpath.file}}" class="portfolio-box" target="_blank">
                            <img src="/media/{{prjimgpath.file}}" class="img-responsive" alt="" style="width:650px;height:242px;box-shadow:3px 3px 3px #f05f40;;">


                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded" style="margin-top:20px;">
                                        {{protprj.project.description | striptags | slice:':200'}}...
                                    </div>
                                    <div class="project-name" style="margin-top:20px;">
                                        <div class="row" style="font-size:13px;">
                                                <div class="col-sm-4">
                                                <div class="project-label"><span style="margin-inline-start: 15px;">CLIENT</span></div>
                                                <small><span style="margin-inline-start: 15px;">{{protprj.project.clientname}}</span></small>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="project-label"><span style="margin-inline-start: 15px;">START</span></div>
                                                    <small>{{protprj.project.startdate}}</small>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="project-label"><span style="margin-inline-start: 2px;">ENDS</span></div>
                                                    <small>{{protprj.project.enddate}}</small>
                                                </div>
                                         </div>
                                        <div class="clearfix"></div>

                                        <span style="font-size:13px;border:2px; solid white;float:left;margin-left:32px;margin-top:25px;">{{protprj.project.services}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                             <a style="float:left;text-decoration:none;" href="http://{{protprj.project.url}}" target="_blank" class="panel-footer">{{protprj.project.url | lower}}</a>
                             <span style="float:right;color:#f05f40;" class="panel-footer">{{protprj.project.title |upper}}</span>
                    </div>

                {%endfor%}

            </div>
        </div>
    </section>

  

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/creativetemplate/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/creativetemplate/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/creativetemplate/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/creativetemplate/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/creativetemplate/js/creative.min.js"></script>

</body>

</html>

{%endblock%}