    {%load get_profile_extra%}

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/design/assets/css/bootstrap.css" rel="stylesheet">

        <link rel="stylesheet" href="/static/design/assets/css/nexus.css?v=1" rel="stylesheet">
        <link rel="stylesheet" href="/static/design/assets/css/responsive.css" rel="stylesheet">


        <link rel="stylesheet" href="/static/design/assets/css/style.css">
        <link href="/static/design/assets/css/styles.css" rel="stylesheet"/>DF
            <div class="primary-container-group">
                <!--End Background -->
                <div class="primary-container">
                    <div id="content">
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
            </div>
 			<script type="text/javascript" src="/static/design/assets/js/jquery.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="/static/design/assets/js/bootstrap.min.js" type="text/javascript"></script>
            <!-- Modernizr -->
            <script src="/static/design/assets/js/modernizr.custom.js" type="text/javascript"></script>


          <!-- End JS -->
        <script type="text/javascript">
            $(function(){

                function  acceptreject(contactid, status) {
                    $.get('/public/accept_reject_contact_request/' + contactid + '/' + status, function () {
                        window.location = '/account/contacts/'
                    })
                };

                $('.acceptrejectbutton').unbind('click')
                $('.acceptrejectbutton').bind('click', function () {
                    var self = $(this);
                    var message = $('.message')
                    var container = $('.datanotifycontainer')
                    var action = self.attr('requestaction')
                    var contactid = self.attr('contact-id')
                    if (action == "accept"){
                        acceptreject(contactid, 'ACCEPTED')
                        message.empty()
                        message.html('You have accepted the contact request.')
                        container.show()

                    }
                    else {
                        acceptreject(contactid, 'REJECTED')
                        message.empty()
                        message.html('You have rejected the contact request.')
                        container.show()
                    }
                })

                $('.contactrequestbutton').unbind('click')

                $('.contactrequestbutton').bind('click', function () {
                    div = $('.infomessage');
                    var self = $(this)
                    var image = $('<img />')
                            .attr({'src':'/static/design/assets/img/loading.gif',
                            'style':'width: 15px;height: auto;margin-right: 8px;margin-left: 2px;margin-top: -2px;'})

                    var tocontactid = self.attr('to-contact-id')
                    var fromcontactid = self.attr('from-contact-id')
                    if(div.length>0){
                        div.show()
                    }
                    else
                    {
                        self.find('img').remove()
                        self.append(image)
                        self.attr('disabled','disabled')
                        $.get('/public/send_contact_request/'+ tocontactid, function () {
                            self.empty()
                            self.html('<i class="fa fa-check" aria-hidden="true"></i> Contact request sent')
                        })
                    }
                })
            });
        </script>
