{% extends 'base/legendmaster.html' %}
{% block content %}
<div class="container">
				<div class="container">
					<div class="row margin-vert-30">
						<!-- Login Box -->
						<div class="col-md-6 col-md-offset-3 col-sm-offset-3">
							<form class="login-page" method="post" action="/account/signin/">
								{% csrf_token %}
								{%if message%}
								<div class="alert alert-danger">{{message}}</div>
								{%endif%}
								<input type="hidden" name="next" value="{{next}}"/>
								<div class="login-header margin-bottom-30">
									<h2>Login to your account</h2>
								</div>
								<div class="input-group margin-bottom-20">
									<span class="input-group-addon">
										<i class="fa fa-user"></i>
									</span>
									<input type="text" name="username" class="form-control" placeholder="Username/Email">
								</div>
								<div class="input-group margin-bottom-20">
									<span class="input-group-addon">
										<i class="fa fa-lock"></i>
									</span>
									<input type="password" name="password" class="form-control" placeholder="Password">
								</div>
								<div class="row">
									<div class="col-md-6">
										<label class="checkbox">
											<input type="checkbox">Stay signed in</label>
									</div>
									<div class="col-md-6">
										<button class="btn btn-primary pull-right" type="submit">Login</button>
									</div>
								</div>
								<hr>
								<h4>Don't have an account ?</h4>
								<p>
									<a href="/account/signup">Click here to register with us.</a> </p>

							</form>
						</div>
						<!-- End Login Box -->
					</div>
				</div>
</div>
{% endblock %}